project_id = "nrxfiblssxwzeziomlvc"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"
openai_api_key = "env(OPENAI_API_KEY)"

[inbucket]
enabled = true
port = 54324

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_refresh_token_rotation = true
refresh_token_reuse_interval = 10
enable_signup = true
enable_anonymous_sign_ins = false
enable_manual_linking = false

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = false

[auth.sms]
enable_signup = true
enable_confirmations = false
template = "Your code is {{ .Code }} ."

[auth.sms.test_otp]

[auth.sms.twilio]
enabled = false
account_sid = ""
message_service_sid = ""
auth_token = "env(SUPABASE_AUTH_SMS_TWILIO_AUTH_TOKEN)"

[auth.external.apple]
enabled = false
client_id = ""
secret = "env(SUPABASE_AUTH_EXTERNAL_APPLE_SECRET)"
redirect_uri = ""
url = ""

[analytics]
enabled = false
port = 54327
vector_port = 54328
backend = "postgres"

[experimental]
[experimental.webhooks]
enabled = false

[functions.fidel-webhook]
verify_jwt = false

[functions.get-public-venue]
verify_jwt = false

[functions.ai-venue-recommend]
verify_jwt = false

[functions.get-public-venues]
verify_jwt = false

[functions.geocode-address]
verify_jwt = false

[functions.issue-redemption-token]
verify_jwt = false

[functions.consume-redemption-token]
verify_jwt = false

[functions.generate-user-qr]
verify_jwt = false

[functions.validate-user-qr]
verify_jwt = false

[functions.get-user-points]
verify_jwt = false

[functions.redeem-reward]
verify_jwt = false

[functions.goorderz-webhook]
verify_jwt = false

[functions.log-user-activity]
verify_jwt = false

[functions.get-user-stats]
verify_jwt = false

[functions.get-users]
verify_jwt = false
